.title {
    color: blue;
}

.box{
    width: 300px;
    height: 300px;
    border: 5px solid red;
}

.box-second {
    width: 200px;
    height: 200px;
    border: 5px solid blue;
}

/* O "Title" Sobreescreve aqui :( */
.title{
    color: green;
}